<!DOCTYPE html>
<html>

<style>
    html {
        font-family: Arial, sans-serif;
        font-size: 110%;
    }
    body {
        max-width: 880px;
        padding-left: 12px;
    }

</style>

<head>
    <title>
        SLA &amp; Uptime calculator
    </title>
    <script src="/uptimejs/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/uptimejs/favicon.ico">
</head>

<body>
    <h1 style="color:blue">
        {{ page.header }}
    </h1>
    
    <div style="padding-bottom:16px">
    <span style="float:right;">[
        <a href="/uptimejs/simple">simple</a> /
        <a href="/uptimejs/flexible">flexible</a> /
        <!-- <em>flexible</em> / -->
        <a href="/uptimejs/reverse">reverse</a> /
        <a href="/uptimejs/about">about</a> /
        <a href="/uptimejs/about#api">API</a>
    ]</span>
    </div>
    
    {{ content }}
</body>

</html>
